h1,h6 {
    text-align: center;
}
.logoName{
    color: white;
    text-decoration: none;
}
.logoName:hover{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
.message{
    color: red;
    font-weight: bold;
}