
@media (max-width: 575.98px) {
    body{
        font-size: 0.6rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}

body{
    color: #555555;
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
}

h1,h6 {
    text-align: center;
}
.logoName{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.logoName:hover{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
.message{
    color: red;
    font-weight: bold;
}
.nav_panel{
    background-color: #4479a1;
    box-shadow: 0 0 5px black;
}
.line1{
    height: 1px;
    border: 2px solid #555555;
}
.line2{
    height: 0.5px;
    border: 0.5px solid #555555;
}
.irregular_row{
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
}