
@media (max-width: 575.98px) {
    body{
        font-size: 0.6rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}

body{
    position: relative;
    color: #555555;
    font-family: 'Playfair Display', serif;
    background-color: #f9f9f9;
}

h1,h6 {
    text-align: center;
}
.logoName{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.logoName:hover{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
.message{
    color: red;
    font-weight: bold;
}
.nav_panel{
    background-color: #4479a1;
    box-shadow: 0 0 5px black;
}
.nav_panel Link{
    color: white;
}
.irregular_row{
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
.htable{
    box-sizing: border-box;
    background-color: #4479a1;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    color: white;
}
.btn{
    padding: 5px;;
}

.modal_overlay{
    display: block;
    z-index: 99;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.modal_body{
    display: block;
    z-index: 100;
    background: white;
    position: fixed;
    width: 300px;
    height: 540px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -270px;
}
/* .container{
    filter: blur(5px);
} */